#tipo1{
    font-size: 75px;
    text-align: center;
    color: black;
    font-family: 'Tangerine', cursive;


}
.texto h2{
    font-size: 30px;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    color: black;
}

.texto p{
    display: flex;
    margin: 0 auto;
    width: 1300px;
    background-color: pink;
    font-size: 20px;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    color: rgb(1, 1, 1);
}

.imagen{
  
    display: flex;
    margin-top: 5px;
    padding: 5px;
    margin: 0 auto; /* Centrar un Div */
    justify-content: center; /* Centrar contenido de un Div */
    width: 800px;
    height: 350px;
}

.imagen img{
    margin-right: 10px;
    margin-left: 20px;
    width: 350px;
    height: 350px;
}

body{
background-color: pink ;

}

.audio{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.extra{
    display: flex;
    margin-top: 5px;
    padding: 5px;
    margin: 0 auto; 
    justify-content: center; 
}

.extra img{
    margin-right: 10px;
    margin-left: 20px;
    width: 350px;
    height: 350px;
}

.papanoel{
    width: 350px;
    height: 350px;
}